input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="text"] {
  -moz-appearance: textfield;
}

$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);
$purple: hsl(259, 100%, 65%);
$light-red: hsl(0, 100%, 67%);
